/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2019, 4:45:38 PM
    Author     : kiran
*/
html, body {margin:0;padding:0;height:100%; width:100%;}
html{min-height: 100%; position:relative;}
body{
    background: linear-gradient(to bottom, blue, lightblue, blue);
    background-image: url(memphis1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: "Lucida Sans", Verdana, sans-serif;
}
main{
    width: 69%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: rgba(20,20,20,0.5);
    color: rgb(240, 240, 240);
    height: 100%;
    padding: 0.5% 0.5% 0.5% 0.5%;
    background-repeat: repeat;
    position:absolute;
    top:100px;
    bottom:0;
    z-index: -1;
}
.nav{
    display:flex;
    flex-direction: column;
    background-color: black;
    color:white;
    position: fixed;
    width: 15%;
    height:15%;
    margin-top:20%;
    padding: 0;
    border: none;
    
}
#name{
    font-size: 3em;
}
a{
    text-decoration: none;
    color: lightblue;
}
a:hover{
    color: darkred;
}
header{
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 100px;
    width: 100px;
}
#phonenumber{
    display: none;
}
@media (max-width: 768px){
    .nav{
        position:fixed;
        height:4em;
        width:100%;
        bottom:0;
    }
    ul{
        display:inline-block;
        list-style-type:none;
        float: none;
        text-align: center;
    }
    li {
        display: inline;
        border-left: 1px solid rgb(240, 240, 240);
        border-right: 1px solid rgb(240, 240, 240);
        padding-left: 3px;
        padding-right: 3px;
    }
    li:first-of-type{
        border-left:2px solid rgb(240, 240, 240);
    }
    li:last-of-type{
        border-right:2px solid rgb(240,240,240);
    }
    main{
        background: none;
        padding-bottom: 10%;
        margin-bottom: 4.1em;
        height:100%;
        bottom: 10%;
    }
    /*cellphone links*/
    #phonenumber{
        display: inline;
    }
    #desktopnumber{
        display:none;
    }
    body{
        background: linear-gradient(to bottom, blue, lightblue, blue);
        /*no background image for mobile*/
    }
    #content{
        background-color: rgba(20,20,20,0.5);
        color: rgb(240, 240, 240);
        height: 100%;
        min-height: 100%;
        position:fixed;
        width: 70%;
        left: 15%;
        right:15%;
        top:0%;
        z-index: -1; 
        /*honestly this is probably a bad way to do it but i can't figure out how to get the background to go the entire page without it*/
        /*background that scrolls with the page, giving the illusion of a background that goes down the whole page*/
    }
    footer{
        min-height:4em;
        height:4em;
    }
}
